body{
    height: 100vh;
    background: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.beam{
    height: 20px;
    width: 0px;
    background: rgb(76, 16, 76);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgb(158, 4, 247);
}
.crown{
    background: red;
    height: 40px;
    width: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.hilt{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background: gray;
    box-shadow: 0 0 10px 0 black;
    display: flex;
    align-items: center;
}
.lightsaber{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 550px;
    cursor: pointer;
    transition: 600ms;
}
.lightsaber:hover > .beam{
    animation: beam 1s forwards;
}
.stripes{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-inline: 30px;
}
.part{
    height: 39px;
    border: solid 1px black;
}
.part.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(165, 42, 42, 0.764);
}
@keyframes beam{
    0%{
        width: 0px;
    }
    100%{
        width: 350px;
    }
}